<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Appenders>
        <File name="File1" fileName="output.log" bufferedIO="false" advertiseURI="./output.log" advertise="true">
            ...
        </File>
    </Appenders>
    <Loggers>
        <Logger name="test" level="trace"/>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>